.placeholder_1{
    width: 20%;
}

.txt_center {
    text-align: center;
}

/* star da riutilizzare */

.star::after,
.star:before {
    content: "________";
    display: inline-block;
    vertical-align: super;
    margin: 0 2px;
}

.square {
    height: 100px;
    background-color: red;
}

/* header */

header {
    background-color: #2C3E50;
    color: white;
}

/* jumbotron */

.jumbotron {
    background-color: #1ABC9C;
}

.just_center {
    justify-content: center;
}

/* about */
.about {
    background-color: #1ABC9C;
}

/* footer */

.top-footer {
    background-color: #3A546D;
}

.bottom-footer {
    background-color: #2C3E50;
}