html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.txt_center {
    text-align: center;
}

.p_absolute {
    position: absolute;
}

.p_relative {
    position: relative;
}
/* star da riutilizzare */

.star::after,
.star:before {
    /* content: "________"; */
    content: "";
    border-bottom: 1px solid black;
    width: 10%;
    display: inline-block;
    vertical-align: super;
    margin: 0 2px;
}

/* header */

header {
    background-color: #2C3E50;
    color: white;
}

header h1 {
    font-size: 1.5em;
    font-weight: bold;
}

header a {
    font-weight: bold;
    text-transform: uppercase;
}

header a:hover {
    color: #1ABC9C;
}

header .hamburger a {
    font-size: 1.2em;
}

header .fa-bars {
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.9em;
    border: 1px solid white;
    border-radius: 5px;
}

header .hamburger :hover{
    border-color: #1ABC9C;
}

/* jumbotron */

.jumbotron {
    background-color: #1ABC9C;
}

.just_center {
    justify-content: center;
}

.jumbotron img {
    width: 30%;
}

.jumbotron h2 {
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.jumbotron ul li {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}


.bar_x::after,
.bar_x:before {
    content: "-";
    margin: 0 3px;
}

/* portfolio */

.portfolio h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.portfolio .alt_{
    height: 200px;
}

.portfolio {
    font-size: 1.5em;
}

.portfolio .plus {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: #1ABC9C;
    border-radius: 10px;

}

.portfolio a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.portfolio img {
    width: 100%;
    border-radius: 10px;
    transition: 1.5s;
    object-fit: cover;
}

.portfolio img:hover {
    opacity: 0;
}



/* about */

.about h3 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
.about {
    background-color: #1ABC9C;
    font-size: 1em;
    color: white;
}

.white_color {
    color: white;
    border: 1px solid white;
}

.download {
    margin-right: 5px;
}

.about .container button:hover {
    background-color: white;
    color: black;
}

/* contact */

.contact h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.contact form input,
.contact form textarea {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid gray;
}

.contact form button.btn{
    background-color: #1ABC9C;
    border: none;
}

.contact form button.btn:hover {
    background-color: #3A546D;
}

/* input:focus + label,
input.hasvalue + label {
  transform: translate3d(0, -.8em, 0) scale3d(0.55, 0.55, 1);
} */
/* footer */

.top-footer {
    background-color: #3A546D;
    color: white;
}

.top-footer h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.top-footer ul {
    display: flex;
    justify-content: center;
}

.top-footer ul li a {
    border: solid 1px white;
    background-color: none;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    border-radius: 100%;
}

.top-footer ul li a:hover {
    color: #3A546D;
    background-color: white;
}

.top-footer .st-bootstrap a {
    color: #1ABC9C;
}
.bottom-footer {
    color: white;
    background-color: #2C3E50;
}

/* media */

@media screen and (max-width:768px) {
    header h1 {
        font-size: 1.1em;
    }

    .jumbotron ul li {
        font-size: 1.1em;
    }
    
    .top-footer {
        font-size: 1em;
    }

    .top-footer ul li a {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 1.1em;
    }

}

@media screen and (max-width:576px) {
    header h1 {
        font-size: 0.9em;
    }

    .jumbotron >* {
        font-size: 0.8em;
    }

    .portfolio .alt_{
        height: 300px;
    }

    .top-footer h3{
        font-size: 1em;
    }

    /* .top-footer ul li a {
        display: block;
        width: 29px;
        height: 29px;
        line-height: 29px;
        font-size: 1.1em;
    } */
}
