.placeholder_1 img {
    width: 50%;
}

/* header */

header {
    background-color: #2C3E50;
    color: white;
}

/* jumbotron */

.jumbotron {
    background-color: #1ABC9C;
}

.just_center {
    justify-content: center;
}